[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "todo/plugins/graph"]
	path = todo/plugins/graph
	url = https://github.com/timpulver/todo.txt-graph.git
[submodule "todo/plugins/due"]
	path = todo/plugins/due
	url = https://github.com/rebeccamorgan/due.git
